<section class="content" id="about">
  <div class="block-content">
      <h3 class="block-title">Perfil</h3>
      <h3 class="subheading">¡Hola! soy Yahir Urbina, <strong>Desarrollador De Aplicaciones y servicios web.</strong></h3>
      <p>Ingeniero en sistemas,con experiencia en el desarrollo tanto front como back end con todas las etapas de desarrollo para proyectos web dinámicos. Conocimiento en HTML5,CSS,JSON,JavaScript,Angular,Informatica B2B.</p>
      <div class="info-list row">
          <div class="col-sm-6"><span>Nombre : </span> Yahir Urbina</div>
          <div class="col-sm-6"><span>Fecha de Nacimiento : </span> Diciembtre 5, 1998 </div>
          <div class="col-sm-6"><span>Dirección : </span> Tegucigalpa,Honduras.</div>
          <div class="col-sm-6"><span>Email : </span> yahirisaacurbina@gmail.com</div>
          <div class="col-sm-6"><span>Telefono : </span> + 504 9615 1074  </div>
          <!-- <div class="col-sm-6"><span>Interes : </span> Frelance, Full-Time</div> -->
      </div>
  </div>
<!--   <div class="block-content">
      <h3 class="block-title">Profesional</h3>
      <div *ngFor="let resu of resumen.Profesional">
        <label class="progress-bar-label">{{ resu.nombre }}</label>
        <div class="progress">
            <div [style.width.%]=resu.valor class="progress-bar" role="progressbar" attr.aria-valuenow="{{ resu.valor }}" aria-valuemin="0" aria-valuemax="100">
                <span>{{ resu.valor }}%</span>
            </div>
        </div>
    </div>
  </div> -->
<!--   <div class="block-content">
      <h3 class="block-title">Experiencia</h3>
      <div class="timeline experience">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                      <div *ngFor="let expex of resumen.Experiencia">
                        <div class="exp">
                            <div class="hgroup">
                                <h4 *ngIf="expex.Empresa">{{ expex.Empresa }}</h4>
                                <h4 *ngIf="expex.Trabajo">{{ expex.Trabajo }}</h4>
                                <h5> {{ expex.Fecha }} </h5>
                            </div>
                            <p>{{ expex.Descripcion }}</p>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<!--   <div class="block-content">
      <h3 class="block-title">Educación</h3>
      <div class="timeline education">
          <div class="row">
              <div class="col-md-12">
                  <div class="exp-holder">
                    <div *ngFor="let edux of resumen.Educacion">
                      <div class="exp">
                          <div  class="hgroup">
                              <h2>{{edux.Institucion}}</h2>
                              <h4>{{ edux.Fecha }}</h4>
                              <h3 *ngIf="edux.Titulo">TItulo: {{ edux.Titulo }}</h3>
                              <br/>
                          </div>

                      </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->
<!--   <div class="block-content">
      <h3 class="block-title">Servicios</h3>
      <div class="row">
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-laptop"></i>
              </div>
              <h4>Diseño Web</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
        <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-pie-graph"></i>
              </div>
              <h4>Desarrollo de Aplicaciones</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-paintbucket"></i>
              </div>
              <h4>Diseño Grafico</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-printer"></i>
              </div>
              <h4>Print Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-qr-scanner"></i>
              </div>
              <h4>Graphic Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
          <div class="col-md-4 col-sm-6 service">
              <div class="service-icon">
                  <i class="ion-social-buffer"></i>
              </div>
              <h4>Print Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          </div>
      </div>
  </div> -->
 <!--  <div class="block-content">
      <h3 class="block-title">Awards</h3>
      <div class="row">
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\1.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\2.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\3.jpeg" alt="">
          </div>
          <div class="col-md-3 col-sm-6 awards">
              <img src="assets\images\awards\4.jpeg" alt="">
          </div>
      </div>
  </div> -->
<!--   <div class="block-content">
      <h3 class="block-title">Testimonios</h3>
      <div class="row">
          <div id="liontestimonial" class="owl-carousel owl-theme">
              <div *ngFor="let testix of cv.testimonio">
                <div class="item testimonials">
                    <img src="assets\images\testimonials\1.jpeg" alt="">
                    <blockquote>{{ testix.Descripcion }}
                        <p class="quote"><span>{{ testix.Nombre }}</span> - {{ testix.Cargo }}</p>
                    </blockquote>
                </div>
            </div>

          </div>
      </div>
  </div> -->

  <div class="block-content">
    <h3 class="block-title">Experiencia</h3>
    <div class="row">
        <div id="liontestimonial" class="owl-carousel owl-theme">
            <div *ngFor="let expex of resumen.Experiencia">
              <div class="item testimonials">
                  <img src="assets\images\testimonials\1.jpeg" alt="">
                  <blockquote>{{ expex.Descripcion }}
                      <p class="quote"><span>{{ expex.Empresa }}</span></p>
                      <p  class="quote"><span>{{ expex.Trabajo }}</span></p>
                  </blockquote>
              </div>
          </div>

        </div>
    </div>
</div>
